@use "../utils/vars" as *;
@use "../utils/mixins" as *;
@use "../utils/extends" as *;

.card {
  max-width: $mobile-max-size;
  margin: 0 auto;
  &:not(:last-child) {
    margin-bottom: 56px;

    @include onTablet {
      margin-bottom: 0;
    }
  }

  &__image {
    width: 100%;
    margin: 0 auto 16px;
    border-radius: 8px;
    transition: box-shadow 0.25s;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.4) -5px 5px, rgba(0, 0, 0, 0.3) -10px 10px,
        rgba(0, 0, 0, 0.2) -15px 15px, rgba(0, 0, 0, 0.1) -20px 20px,
        rgba(0, 0, 0, 0.05) -25px 25px;
    }
  }

  &__title {
    @extend %sub-title-size;

    margin-bottom: 8px;
  }

  &__description {
    margin-bottom: 16px;
  }

  &__wrapper-button {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
  }

  @include onTablet {
    display: flex;
    flex-direction: column;
    max-width: none;
  }
}
