@use "../utils/vars" as *;
@use "../utils/mixins" as *;
@use "../utils/animations" as *;

.header {
  &__top-actions {
    margin-bottom: 32px;
  }

  &__content {
    @include onTablet {
      @include useGrid(8, 0, 24px);

      position: relative;
    }
  }

  &__info {
    max-width: max-content;
    margin: 0 auto 32px;
    text-align: center;

    @include onTablet {
      margin: 0 0 16px;
      text-align: initial;
    }

    @include onDesktop {
      position: absolute;
      top: 20%;
      margin: 0;
    }
  }

  &__title {
    width: min-content;
    margin: 0 auto;

    font-size: 64px;
    font-weight: inherit;
    line-height: 54px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.05em;

    @include onTablet {
      position: absolute;

      align-self: center;
      justify-self: center;

      width: auto;

      font-size: 80px;
      line-height: 68px;
    }

    @include onDesktop {
      font-size: 136px;
      line-height: 116px;
    }
  }

  &__image {
    position: relative;
    z-index: -1;

    display: block;

    width: 100%;
    max-width: $mobile-max-size;
    margin: 0 auto;

    @include onTablet {
      max-width: fit-content;
      margin-bottom: 80px;
    }

    @include onDesktop {
      margin-bottom: 65px;
      animation: move 2s ease-in;
    }
  }
}
