@use "../utils/vars" as *;

::selection {
  color: $color-lightBlue;
  background-color: $color-grey;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section {
  scroll-margin-top: 24px;
}
