@use "../utils/mixins" as *;

.top-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;

  &--desktop {
    display: none;
  }

  @include onDesktop {
    padding: 28px 32px;

    &--mobile {
      display: none;
    }

    &--desktop {
      display: initial;
    }
  }
}
