@use "./blocks/reset";
@use "./blocks/grid";
@use "./blocks/container";

@use "./blocks/page";
@use "./blocks/header";
@use "./blocks/top-actions";
@use "./blocks/logo";
@use "./blocks/icon";
@use "./blocks/navbar";
@use "./blocks/menu";
@use "./blocks/link";
@use "./blocks/button";
@use "./blocks/products";
@use "./blocks/card";
@use "./blocks/about";
@use "./blocks/footer";
