@keyframes move {
  0% {
    top: -100%;
    transform: rotate(-90deg);
  }

  20% {
    top: 0%;
  }

  40% {
    top: -30%;
    transform: rotate(60deg);
  }

  60% {
    top: 0%;
  }

  80% {
    top: -15%;
  }

  100% {
    top: 0%;
    transform: rotate(0deg);
  }
}
