@use "./vars" as *;
@use "./mixins" as *;

%title-size {
  font-size: 48px;
  font-weight: inherit;
  line-height: 41px;
  text-transform: uppercase;
  letter-spacing: -0.05em;

  @include onTablet {
    font-size: 56px;
    line-height: 48px;
  }

  @include onDesktop {
    font-size: 72px;
    line-height: 61px;
  }
}

%sub-title-size {
  font-weight: 500;
  line-height: 16px;
  color: $color-grey;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}
